.modal__footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1.25rem;
  &--center {
    justify-content: center;
  }
}

.modal-footer__button {
  padding: 0.9375rem 3.125rem;
  border-radius: 8px;
  background: rgb(138, 51, 253);
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: rgb(0, 173, 9);
  }

  &:active {
    background-color: darken(rgb(0, 173, 9), 10);
    box-shadow: 0 0 10px rgb(0, 173, 9);
  }
}

.modal-footer__button--second {
  color: rgb(138, 51, 253);
  border: 1px solid rgb(138, 51, 253);
  background-color: transparent;

  &:hover {
    background-color: rgba(255, 0, 13, 0.822);
    color: #fff;
    border: 1px solid rgba(255, 0, 13, 0.822);
  }

  &:active {
    background-color:darken(rgba(255, 0, 13, 0.822), 10);
    box-shadow: 0 0 10px rgba(255, 0, 13, 0.822);
  }
}
