.close-btn {
  position: absolute;
  top: -4px;
  right: 5px;
  font-size: 30px;
  transform: rotate(45deg);
  transition: all 0.1s ease;

  &:hover {
    color: #e41325;
    transform: rotate(45deg);

  }
  &:active {
    transform: scale(0.9) rotate(45deg);

  }
}
